include ./mixins/_doc.pug

+doc
body.landing-body
  nav(role="navigation").landing-nav.flex.justify-end.py-2.px-4.bg-blue.md-bg-transparent
    a(href="/login", title="Log in to NoFuss").no-underline.border-2.border-white.text-white.hover-text-blue.hover-bg-white.px-4.py-2.font-bold Log in
    a(href="/signup", title="Sign-up for NoFuss").no-underline.border-2.border-green.bg-green.px-4.py-2.ml-4.font-bold.text-white.hover-text-white.hover-text-blue.hover-bg-white.hover-border-white Sign up
  main(role="main").landing-main
    header(role="banner").landing__preamble.px-4.py-16.md-py-0.md-my-16.flex.flex-wrap.justify-center.-mx-16.bg-blue.md-bg-transparent
      .landing__preamble__text.px-4.md-px-16.mb-16
        h1.h1.text-4xl.text-white.md-text-blue.mb-8 No-fuss
          span.block  Fitness Tracking
        p.leading-normal.text-white.md-text-black Welcome to No-Fuss Fitness. No Fuss is an application that lets you log all your meals, exercises, and weight into your user account. The application also lets you view your weight loss in chart form over a period of time.
        .landing__preamble-links.mt-8.flex.justify-end
          a(href="/login", title="Log in to NoFuss").no-underline.border-2.border-blue.text-blue.px-8.py-3.font-bold.hover-text-white.hover-bg-blue Log in
          a(href="/signup", title="Sign-up for NoFuss").no-underline.border-2.border-green.bg-green.text-white.px-8.py-3.font-bold.ml-4.hover-text-white.hover-bg-blue.hover-border-blue Sign up
      .landing__preamble__illustration.px-4.md-px-16
        img(src=h.svgIMG('landing/ill-jog'), alt="")

    section(role="region").bg-blue.text-white.py-8.px-4.flex.justify-center
      h2.h2.screenreader-only Key Features
      ul.container.list-reset.flex.flex-wrap.justify-between.-mx-4.leading-normal.flex-col.md-flex-row
        li.md-w-1-3.px-4.my-8.md-my-2
          h3.h3.mb-4 Progress
          p.text-sm ✍️ Keep track of your progress and visualize your weight loss/gain and changes in your BMI after having at least 3 weeks worth of data in the application.
        li.md-w-1-3.px-4.my-8.md-my-2
          h3.h3.mb-4 Meals
          p.text-sm 🍔 You are what you eat. See what you're putting in your body and keep track of the calories you consume in the day.
        li.md-w-1-3.px-4.my-8.md-my-2
          h3.h3.mb-4 Exercises
          p.text-sm 💪 Get ripped... or toned. Keep track of your cardio-based or rep-based activities and keep track of all the things that keep you moving.

    section(role="region").container.mx-auto.landing-extra.py-32.px-8
      h2.h2.screenreader-only Upcoming features
      ul
        li.landing-extra__items.container.md-mb-32
          .md--mx-8.flex.flex-col.md-flex-row.justify-between
            .landing-extra__text.w-full.md-w-3-5.max-w-sm.mt-8.mb-16.mx-auto.md-mx-0
              h3.h3.text-4xl.text-blue.mb-4 Visualize your data
              span.block.w-32.text-sm.text-white.text-center.bg-blue.py-1.px-2.mb-2.italic.rounded Beta Release
              p.leading-normal Visualize those gains... or losses! Currently only tracking weight, in the future you'll be able to visualize more correlations between your data with day, month, and year charts and graphs.
            .landing-extra__image.w-full.md-w-2-5.md-px-8.flex.relative
              img(src="/images/landing/feature-graph.png", alt="").flex-img

        li.landing-extra__items.container.md-mb-32
          .md--mx-8.flex.md-flex-row-reverse.flex-col.md-flex-row.justify-between
            .landing-extra__text.w-full.md-w-3-5.max-w-sm.mt-8.mb-16.mx-auto.md-mx-0
              h3.h3.text-4xl.text-blue.mb-4 API Integration
              span.block.w-32.text-sm.text-white.text-center.bg-blue.py-1.px-2.mb-2.italic.rounded Current Release
              p.leading-normal Create, Read, Update, and Destroy your data with your own API endpoint. Just check out `/meals`, `/exercises`, or `/progress` after placing some data points in the application.
            .landing-extra__image.w-full.md-w-2-5.md-px-8.flex.relative
              img(src="/images/landing/feature-api.png", alt="").flex-img

        li.landing-extra__items.container.md-mb-0
          .md--mx-8.flex.flex-col.md-flex-row.justify-between
            .landing-extra__text.w-full.md-w-3-5.max-w-sm.mt-8.mb-16.mx-auto.md-mx-0
              h3.h3.text-4xl.text-blue.mb-4 Fitbit API Integration
              span.block.w-32.text-sm.text-white.text-center.bg-blue.py-1.px-2.mb-2.italic.rounded Future Release
              p.leading-normal Taking No-Fuss to another level. Why have manually input fitness data when you have a tracker that does it already for you? Keep track of meals/exercises/and your weight through the Fitbit app and see your data automatically update here.
            .landing-extra__image.w-full.md-w-2-5.md-px-8.flex.relative
              img(src="/images/landing/feature-soon.svg", alt="").flex-img

    footer(role="contentinfo").bg-blue.py-4
      p.text-white.text-sm.text-center.italic a free project created by 
        a(href="https://modayil.me", title="Benjamin Modayil's site").underline.text-white.font-bold Benjamin Modayil

  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js")
  script(src="/dist/App.bundle.js")
