include ./mixins/_doc.pug

+doc(title)
body.min-h-full
  header.global-header.bg-white.px-2.py-3
    a.mx-auto.text-center.block.font-serif.text-blue.no-underline.hover-underline.font-bold(href="/") #{h.siteName}
  block messages
        if locals.flashes
          .inner.inner--flashes
            .flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash--${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;
  main.initial-details.w-full.flex.flex-col.justify-center.items-center.py-32.bg-blue
    h1.h1.text-center.text-white Set your goal and starting stats.
    .form-container.max-w-sm.w-full
      form(action="/api/info" method="POST" data-module="LoginForm").bg-white.shadow-md.rounded.px-8.pt-6.pb-8.mb-4.w-full
        fieldset
          .mb-4
            legend Height
              label.block.text-grey-darker.text-sm.font-bold.mb-2(for='feet')
                | Feet
              input#feet.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-grey-darker(type='number', placeholder='Feet' name="feet")
              label.block.text-grey-darker.text-sm.font-bold.mb-2(for='inches')
                | Inches
              input#feet.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-grey-darker(type='number', placeholder='inches' name="inches")
        .mb-6
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='initialWeight')
            | Starting Weight
          input#initialWeight.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-grey-darker.mb-3(type='number', placeholder='Number' name="initialWeight")
          p.text-red.text-xs.italic Please choose a password.
        .mb-6
          label.block.text-grey-darker.text-sm.font-bold.mb-2(for='goalDescription')
            | Goal
          textarea#goalDescription.shadow.appearance-none.border.rounded.w-full.py-2.px-3.text-grey-darker.mb-3(placeholder='I want to lose weight before my wedding.' name="goalDescription" maxlength="50")
        .flex.flex-col.items-center.justify-between
          button.bg-green.text-white.font-bold.py-2.px-4.rounded.mb-4.hover-bg-green-dark(type='submit')
            | Continue


  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js")
  script(src="/dist/App.bundle.js")
