<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/dist/style.css' />
</head>

<body>
  <header class="global-header bg-white px-2 py-3">
    <a href="#hide-menu" class="no-underline">
      <img src="/images/icons/icon-menu.svg" alt="">
      <span>hide menu</span>
    </a>
    <a class="font-serif text-blue no-underline font-bold f-s-18" href="/overview">{{h.siteName}}</a>
    <a class="global-header__logout text-sm btn bg-green px-3 py-2 font-sans font-bold text-white no-underline rounded" href="/logout">Log out</a>
  </header>
  <div class="nav-main-container">
    <nav class="global-nav bg-blue px-4 pt-16">
      <a href="/meals" class="text-white no-underline m-bottom-32">
        <img src="#" alt="">
        <span>Log Meals</span>
      </a>
      <a href="/exercises" class="text-white no-underline m-bottom-32">
        <img src="#" alt="">
        <span>Add Exercises</span>
      </a>
      <a href="/overview" class="text-white no-underline m-bottom-32">
        <img src="#" alt="">
        <span>Track Mental Health</span>
      </a>
    </nav>
    {{{body}}}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
  <script>
    moment().format();
  </script>
  <script src="/dist/App.bundle.js"></script>
</body>

</html>