<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="p-x-16">
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
  <script>
    moment().format();
  </script>
  <script src="/javascripts/rendered/all.js"></script>
</body>

</html>