<a href="/">Back to overview</a>
<h1>{{title}}</h1>

{{date}}

<h1>{{h.siteName}}</h1>
<main role="main">
  <h2>Overview Page</h2>
  <a class="block" href="/meals">Meals</a>
  <a class="block" href="/meals/api">API</a>
  <a class="block" href="/exercises">Exercises</a>
  <a class="block" href="/exercises/api">API</a>
</main>