@import 'tailwindcss/preflight';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'base/_typography.css';
@import 'base/_normalize.css';
@import 'base/_global.css';
@import 'base/_b-utilities.css';

@import 'components/_modal.css';
@import 'components/_navigation.css';

@import 'pages/_landing.css';
@import 'pages/_exercise.css';
@import 'pages/_meal.css';
@import 'pages/_overview.css';

/* @import 'test.css'; */

/*  */
.screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.screenreader-only--with-space {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}
