mixin doc(head = {})
  doctype html
  html(lang="en").min-h-full
    head
      title #{title}
      link(rel="stylesheet" href="/dist/style.css")
      link(href="/favicon.ico", rel="shortcut icon")
      
