mixin navPrimary(nav = {})
  header(role="banner").global-header.relative.bg-white.px-4.py-3(data-module="Nav")
    button.no-underline#hide-menu
      != h.icon(`menu`)
      span.screenreader-only minimize menu
    a.font-serif.text-blue.no-underline.hover-underline.font-bold(href="/overview") #{h.siteName}
    a.global-header__logout.text-sm.btn.bg-green.px-3.py-2.font-sans.font-bold.text-white.no-underline.rounded.hover-bg-green-light(href="/logout") Log out
