<form method="POST" class="form">
  <label class="block screenreader-only" for="title">Title</label>
  <input class="block" type="text" id="title" name="title" value="Title" placeholder="Meal name" required autocomplete="off"
    aria-required="true">
  <label class="block screenreader-only" for="calories">Calories</label>
  <input class="block" type="text" id="calories" name="calories" placeholder="0">
  <label class="block screenreader-only" for="date">Date</label>
  <input class="block" type="date" id="date" name="date">
  <button>meal +</button>
</form>